{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/knowledgebase

    Example context (json):
    {
        "has_manage": true,
        "categorys": [
            {
                "categoryid": 1,
                "name": "General Support",
                "knowledgebases": [
                    {
                        "id": 101,
                        "title": "How to Reset Your Password"
                    },
                    {
                        "id": 102,
                        "title": "How to Change Your Email"
                    }
                ]
            }
        ]
    }

}}

<h2>{{#str}}knowledgebase_name, local_helpdesk{{/str}}</h2>

{{#categorys}}
    <h3><a href="knowledgebase.php?cat={{categoryid}}">{{{name}}}</a></h3>
    <ul>
        {{#knowledgebases}}
            <li>
                <a href="knowledgebase.php?id={{id}}">{{title}}</a>
                {{#has_manage}}
                    - <a href="?action=edit&amp;id={{id}}" class="badge badge-success">{{#str}}edit{{/str}}</a>
                    - <a href="?action=delete&amp;id={{id}}" class="badge badge-danger">{{#str}}delete{{/str}}</a>
                {{/has_manage}}
            </li>
        {{/knowledgebases}}
    </ul>

    {{#has_manage}}
        <a href="?action=add&cat={{categoryid}}" class="badge badge-info">{{#str}}knowledgebase_addnew, local_helpdesk{{/str}}</a>
    {{/has_manage}}
{{/categorys}}

{{#has_sugestion}}
    <fieldset class="sugestion-fieldset">
        <legend>Sugestão de bases de conhecimentos para você adicionar ao seu Moodle</legend>

        {{#sugestion}}
            <h3>{{{name}}}</h3>
            {{#knowledgebases}}
                <div class="knowledgebase">
                    <h6>{{{title}}}</h6>
                    <div class="description-block">
                        <div class="description">
                            {{{description}}}
                        </div>
                    </div>
                </div>
            {{/knowledgebases}}
            <p><a class="btn btn-primary ml-3"
                  href="?action=import&createid={{createid}}">Adicionar está categoria na base de dados</a></p>
        {{/sugestion}}
    </fieldset>
    <style>
        .sugestion-fieldset {
            border: 1px solid #7f7f7f;
            border-radius: 5px;
            margin-top: 10px;
        }
        .sugestion-fieldset .knowledgebase {
            border: 1px solid #939393;
            margin: 11px;
        }
        .sugestion-fieldset .knowledgebase .description-block {
            position: relative;
            height: 65px;
            margin: 11px;
        }
        .sugestion-fieldset .knowledgebase .description {
            position: absolute;
            border: 1px solid #939393;
            padding: 5px;
            overflow: hidden;
            max-height: 65px;
            text-overflow: ellipsis;
            transition: all 0.3s ease-in-out;
            font-size: 10px;
            width: 100%;
        }
        .sugestion-fieldset .knowledgebase .description:hover {
            overflow: visible;
            max-height: 6000px;
            z-index: 1000;
            background: #e7e7e7;
            padding: 10px;
            border: 1px solid #aaa;
            box-shadow: 3px 3px 8px #00000075;
            font-size: 14px;
        }
    </style>
{{/has_sugestion}}
