{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/knowledgebase-form-ia

    Example context (json):
    {
    }

}}

<button class="btn btn-success" type="button" disabled
        id="geniai_btn_response_create">{{#str}}geniai_btn_knowledgebase_create, local_helpdesk{{/str}}</button>

<div class="d-none" id="modal-response-form-ia">
    <div>{{#str}}geniai_create_knowledgebase_desc, local_helpdesk{{/str}}</div>
    <textarea id="ia-message"
              style="width: 100%;height: 80px;"></textarea>
    <button id="create-message"
            class="btn btn-info">{{#str}}geniai_create_knowledgebase_message, local_helpdesk{{/str}}</button>
    <div id="sugestion-ia"
         style="border-left: 3px solid #9E9E9E;margin: 10px;padding-left: 10px; display: none"></div>
    <button id="save-close"
            class="btn btn-success"
            style="display: none">{{#str}}geniai_like_message, local_helpdesk{{/str}}</button>
</div>

{{#js}}
require(["jquery", "core/ajax", "core/notification", "core/modal_factory", "editor_tiny/editor"],
function($, Ajax, Notification, ModalFactory, tiny) {

    $("#geniai_btn_response_create").prop("disabled", false);

    $("#ia-message").on("input", function() {
        let messageLength = $(this).val().length;
        $("#sugestion-ia").prop("disabled", messageLength <= 10);
    });

    var modal = false;

    $("#geniai_btn_response_create").click(function() {
        if (modal) {
            modal.show();
        } else {
            ModalFactory.create({
                type: ModalFactory.types.DEFAULT,
                title: "{{#str}}geniai_title, local_helpdesk{{/str}}",
                body: $("#modal-response-form-ia").html(),
            }).then(function(_modal) {
                modal = _modal;
                if (!modal.root) {
                    modal.root = modal._root;
                }
                modal.show();
                modal.root.find(".modal-dialog")
                        .addClass("modal-xl").addClass("kopere-dashboard-modal");

                $("#modal-response-form-ia").remove();
                $("#create-message").click(geniaiCompletions);

                $("#save-close").click(function() {
                    var editor = tiny.getInstanceForElementId("id_description");
                    editor.execCommand("mceInsertContent", false, $("#sugestion-ia").html());

                    modal.hide();
                });

                return _modal;
            }).catch(Notification.exception);
        }
    });

    function geniaiCompletions() {
        $("#save-close").hide();

        let count = 0;
        $("#sugestion-ia").show().html("{{#str}}loading{{/str}}.");
        var interval = setInterval(function() {
            count = (count + 1) % 4; // Toggles between 0, 1, 2, 3
            $("#sugestion-ia").html("{{#str}}loading{{/str}}" + ".".repeat(count));
        }, 500);
        setTimeout(function() {
            clearInterval(interval);
        }, 30000);

        Ajax.call([{
            methodname: "local_helpdesk_geniai_knowledgebase",
            args: {
                message: $("#ia-message").val(),
            }
        }])[0].then(function(data) {
            clearInterval(interval);

            if (data.error) {
                $("#sugestion-ia").show().html(data.error);
                $("#save-close").hide();
            } else {
                $("#save-close").show();
                $("#sugestion-ia").show().html(data.success);
            }

            return data;
        }).catch(Notification.exception);
    }

});
{{/js}}